body {
  background: radial-gradient( circle, transparent 50%, black 150%),#ccc;
}
html ul {
  list-style: none;
}



#header{
  background: black;
  color: white;
  overflow: auto;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
#header a{
  font-style: none;
  text-decoration: none;
  color: white !important;
}
#header a:hover{
  color: #ccc !important;
}
.logo{
  float: left;
  display: inline-block;
  padding-top: 12px;
  margin-right: 25px;
}
.leftMenu{
  display: inline-block;
  float: left;
}
.leftMenu ul{
  padding: 0;
  margin: 0;
}
.leftMenu ul li{
  display: inline-block;
  padding: 20px;
}

.searchIcon{
  display: inline-block;
  float: right;
  padding-top: 20px;
  padding-right: 5px;
}

.searchIcon img{
  width: 20px;
}

.searchbar{
  float: right;
  display: inline-block;
  color: white;
  padding-right: 5px;
  padding-top: 15px
}

.searchbar input[type="text"]{
  color: white;
  padding: 5px;
  /*box-sizing: border-box;*/
  border-width: 2px;
  border-radius: 3px;
  border-color: #444;
  background-color:  transparent;/*#ddd;*/
}
.searchbar input[type="text"]:focus {
  outline-color: #444;
}


@media screen and (max-width: 550px) {
  .logo, .leftMenu, .search {
    width: 100%;
  }
  .search {
    float: left;
    padding: 16px 0;
    margin-bottom: 5px;
  }
  .searchbar, .searchIcon {
    float: left;
  }
  .leftMenu {
    margin-top: 10px;
  }
  .leftMenu li {
    border-radius: 4px;
    background-color: #222;
  }
}



#content {
  padding-top: 20px;
  margin: 0 5%;
}
.contentMovies {
  display: inline-block;
  width: 100%;
}
.movieItem {
  position: relative;
  float:left;
  margin-right:20px;
  margin-top:0;
  margin-bottom: 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.movieItem img {
  width: 150px;
  height: 200px;
  border-radius: 8px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 30px 0 rgba(0, 0, 0, 0.4);

  /* TRANSITIONS */
  transition: filter .5s, -webkit-filter .5s;
  transition: transform .5s;
 }
.movie_image_description {
  margin: 0;
  font-weight: 400;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 0%; /* WTF ? 50 % marche pas */
  width: 100%;
  height: auto;
  padding: 5px 0;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);

  /* TRANSITIONS */
  transition: opacity .2s, visibility .2s;
}

.movie_img_wrap:hover img{
  filter: blur(2px);
  -webkit-filter: blur(2px);
  transform: scale(1.1);
}

.movie_img_wrap:hover .movie_image_description{
  visibility: visible;
  opacity: 1;
}
@media screen and (max-width: 840px) {
  .movieItem img {
    width: 130px;
    height: 173.3px;
  }
}

.contentTVShow {
  display: inline-block;
  width: 100%;
}
.showItem {
  position: relative;
  float: left;
  margin-right:20px;
  margin-top:0;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.showItem img {
  width: 150px;
  height: 200px;
  border-radius: 8px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 30px 0 rgba(0, 0, 0, 0.4);
  /* TRANSITIONS */
  transition: filter .5s, -webkit-filter .5s;
  transition: transform .5s;
 }
 .tv_image_description {
   margin: 0;
   font-weight: 400;
   text-align: center;
   color: white;
   position: absolute;
   top: 50%;
   left: 0%; /* WTF ? 50 % marche pas */
   width: 100%;
   height: auto;
   padding: 5px 0;
   border-radius: 5px;
   visibility: hidden;
   opacity: 0;
   background-color: rgba(0, 0, 0, 0.5);
   /* TRANSITIONS */
   transition: opacity .2s, visibility .2s;
 }
 .tv_img_wrap:hover img{
   filter: blur(2px);
   -webkit-filter: blur(2px);
   transform: scale(1.1);
 }
 .tv_img_wrap:hover .tv_image_description{
   visibility: visible;
   opacity: 1;
 }
@media screen and (max-width: 840px) {
  .showItem img {
    width: 130px;
    height: 173.3px;
  }
}
